* {
    margin: 0;
    padding: 0;
}
.section1Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 180vh;
    width: 100%;
    padding: 2rem 1rem;
    height: 100vh;
    /* border: 3px solid gold; */
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    gap: 2rem;
    z-index: 0;

}

.goldenLine{
    position: absolute;
    left: 50%;
    top: 101%;
    transform: translate(-50%,-50%);
    height: 2rem;
    width: 35rem;
    background-color: #fe9402;
    transition: width 0.3s ease;
}



.section1img{
    background: url(../assets/laptopSection1.png);
    width: 50%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: -5%;
    transform: translate();
    margin-left: 1rem;
}
.section1txt{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    direction: rtl;
}
.section1H2{
    position: relative;
    left: 5%;
    text-align: center;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    
}
.section1ptag1{
    direction: rtl;
    text-align: justify;
    line-height: 1.1rem;
    color: gray;
    font-size: 12px;
    max-width: 400px;
    padding-right: 1.5rem;
    white-space: normal;
}

.section1ptag1p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    display: inline;
    white-space: normal;
}

.section1span{
    transform: translateY(15px);
    font-size: 12px;
    direction: ltr;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.section1spanSvg{
    width: 2rem;
    height: 2rem;
}

.goldenLine2{
    top: 200%;
    height: 0.2rem;
}

@media  only screen and (max-width: 1002px){
    .section1H2{
        font-size: 1.5rem;
        left: 10%;
    }
    .section1ptag1{
        font-size: 8px;
    }
    .section1ptag1p{
        font-size: 10px;
    }
    .section1span{
        font-size: 8px;
    }
    .section1img{
        width: 35%;
        height: 35%;
        top: -10%;
    }
}

@media  only screen and (max-width: 760px) {
   .headerH2{
    font-size: 0.6rem;
   }
   .goldenLine{
    width: 18rem;
   }
   .section1img{
    width: 75%;
    height: 35%;
    margin: 1rem auto 0rem auto;
    left: 0%;
   }
   .section1Container{
    flex-direction: column;
    padding: 0;
    margin: 0;
    transform: none;
    gap: 0;
    height: 100vh;
    justify-content: none;
    margin: 5rem auto 0rem auto;
    left: -1%;
   }
   .section1txt{
    margin: 0 auto 0rem auto;
    position: relative;
    top: -10%;
   }
   .section1H2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   }
}