*{
    margin: 0;
    padding: 0;
}

.svg{
    scale: 3.2;
    color: white;
}

@media  only screen and (max-width: 1002px) {
    .svg{
        scale: 2.5;
    }
}

@media  only screen and (max-width: 760px) {
    .svg{
        scale: 2.4;
    }
}