* {
    margin: 0;
    padding: 0;
}

.companyContainer{
    width: 100%;
    height: 18vh;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    transition: all 0.3s ease;
}

.companyContainer:hover{
    scale: 1.3;
}

@media  only screen and (max-width: 1002px){
    .companyContainer{
        width: 80%;
        height: 15vh;
    }
}